/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  position: fixed;
  width: 100%;
  background-color: #4CC9F0;
  height: 100px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 99; }
  header > .header-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4CC9F0;
    z-index: 99; }
    header > .header-content > .container {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 900px) {
        header > .header-content > .container {
          padding: 0 15px; } }
      header > .header-content > .container > .logo {
        position: relative;
        max-width: 150px; }
        @media (max-width: 900px) {
          header > .header-content > .container > .logo {
            max-width: 130px; } }
        header > .header-content > .container > .logo > img {
          width: 100%; }
      header > .header-content > .container > nav {
        position: relative;
        display: flex;
        align-items: center; }
        @media (max-width: 900px) {
          header > .header-content > .container > nav {
            display: none; } }
        header > .header-content > .container > nav > .nav-bar {
          position: relative;
          display: flex;
          align-items: center; }
          header > .header-content > .container > nav > .nav-bar > .menu {
            list-style: none;
            display: flex;
            align-items: center; }
            header > .header-content > .container > nav > .nav-bar > .menu > .menuitem {
              padding-left: 25px; }
              @media (max-width: 900px) {
                header > .header-content > .container > nav > .nav-bar > .menu > .menuitem {
                  padding-left: 10px; } }
              header > .header-content > .container > nav > .nav-bar > .menu > .menuitem:first-child {
                padding-left: 0; }
              header > .header-content > .container > nav > .nav-bar > .menu > .menuitem > a {
                position: relative;
                color: #3b3878; }
                header > .header-content > .container > nav > .nav-bar > .menu > .menuitem > a::before {
                  display: block;
                  content: "";
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 0%;
                  height: 2px;
                  background-color: #3b3878;
                  transition: .2s all ease-in-out; }
                header > .header-content > .container > nav > .nav-bar > .menu > .menuitem > a:hover::before {
                  width: 100%; }
      header > .header-content > .container > .user-options {
        position: relative;
        display: flex;
        align-items: center; }
        header > .header-content > .container > .user-options > .options {
          position: relative;
          display: flex;
          align-items: center; }
          header > .header-content > .container > .user-options > .options > .search {
            position: relative; }
            header > .header-content > .container > .user-options > .options > .search > i {
              font-size: 26px;
              color: #3b3878; }
          header > .header-content > .container > .user-options > .options > .profile {
            position: relative;
            margin: 0 15px; }
            header > .header-content > .container > .user-options > .options > .profile > i {
              font-size: 26px;
              color: #3b3878; }
          header > .header-content > .container > .user-options > .options > .buy {
            position: relative; }
            header > .header-content > .container > .user-options > .options > .buy > i {
              font-size: 26px;
              color: #3b3878; }
        header > .header-content > .container > .user-options > .buttons-menu {
          margin-left: 15px;
          display: none; }
          @media (max-width: 900px) {
            header > .header-content > .container > .user-options > .buttons-menu {
              display: block; }
              header > .header-content > .container > .user-options > .buttons-menu > .close {
                display: 'none'; }
              header > .header-content > .container > .user-options > .buttons-menu.active > .bars {
                display: none; }
              header > .header-content > .container > .user-options > .buttons-menu.active > .close {
                display: block; } }
          header > .header-content > .container > .user-options > .buttons-menu > i {
            font-size: 28px;
            color: #3b3878; }
        header > .header-content > .container > .user-options > .close-btn {
          position: relative;
          display: none;
          margin-left: 15px; }
          header > .header-content > .container > .user-options > .close-btn > i {
            font-size: 34px;
            color: #3b3878; }
  header > .nav-mobile {
    position: relative;
    background-color: white;
    transition: 0.3s all ease;
    transform: translateY(-300%);
    opacity: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }
    header > .nav-mobile.show-menu {
      transform: translateY(0%);
      opacity: 1; }
    header > .nav-mobile > .nav-bar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0; }
      header > .nav-mobile > .nav-bar > .menu {
        list-style: none;
        display: flex;
        align-items: center; }
        header > .nav-mobile > .nav-bar > .menu > .menuitem {
          padding-left: 25px; }
          @media (max-width: 900px) {
            header > .nav-mobile > .nav-bar > .menu > .menuitem {
              padding-left: 10px; } }
          header > .nav-mobile > .nav-bar > .menu > .menuitem:first-child {
            padding-left: 0; }
          header > .nav-mobile > .nav-bar > .menu > .menuitem > a {
            color: #3b3878; }

* {
  box-sizing: border-box; }

body {
  background-color: #FFF1FA; }

p, span {
  font-family: 'PT Sans', sans-serif; }

h2, h5 {
  font-family: 'PT Sans', sans-serif; }

.container {
  position: relative;
  max-width: 1400px;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .container {
      padding: 0 5px; } }

a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif; }

.main-banner {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 457px;
  background-image: url("../assets/img/main-banner.jpg");
  background-size: cover;
  background-position: 50% 60%;
  display: flex;
  align-items: center; }
  @media (max-width: 900px) {
    .main-banner {
      height: 357px; } }
  .main-banner > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8; }
  .main-banner > .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-banner > .container > .maincontent {
      position: relative; }
      .main-banner > .container > .maincontent > h2 {
        font-size: 68px;
        color: #4CC9F0;
        font-weight: bold;
        text-align: center; }
        @media (max-width: 900px) {
          .main-banner > .container > .maincontent > h2 {
            font-size: 45px; } }

main {
  position: relative;
  width: 100%;
  padding-top: 100px; }

.circle-images {
  position: relative;
  padding: 60px 0; }
  .circle-images > .container {
    display: flex;
    align-items: center; }
    @media (max-width: 900px) {
      .circle-images > .container {
        justify-content: center;
        flex-wrap: wrap; } }
    .circle-images > .container > .circle {
      position: relative;
      max-width: 200px;
      overflow: hidden;
      margin-left: 20px; }
      .circle-images > .container > .circle:first-child {
        margin-left: 0px; }
      @media (max-width: 900px) {
        .circle-images > .container > .circle {
          margin: 10px;
          max-width: 100px; } }
      .circle-images > .container > .circle > img {
        position: relative;
        width: 100%;
        border-radius: 100%; }

.banners-section {
  position: relative;
  background-color: #4361EE;
  padding: 45px 0; }
  .banners-section > .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 900px) {
      .banners-section > .container {
        flex-direction: column; } }
    .banners-section > .container > .arrow {
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      left: 70px;
      max-width: 50px; }
      @media (max-width: 1024px) {
        .banners-section > .container > .arrow {
          display: none; } }
      .banners-section > .container > .arrow > img {
        width: 100%; }
    @media (max-width: 900px) {
      .banners-section > .container > .info {
        margin-top: 20px; } }
    .banners-section > .container > .info > span {
      font-size: 16px;
      color: white; }
    .banners-section > .container > .info > h2 {
      font-size: 38px;
      margin: 40px 0;
      font-weight: bold;
      color: white; }
    .banners-section > .container > .info > p {
      max-width: 250px;
      color: white;
      font-size: 18px; }
      @media (max-width: 900px) {
        .banners-section > .container > .info > p {
          max-width: 300px; } }
    .banners-section > .container > .banners-container {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 25px; }
      @media (max-width: 900px) {
        .banners-section > .container > .banners-container {
          flex-direction: column;
          margin-left: 0; } }
      .banners-section > .container > .banners-container > .banner {
        display: block;
        position: relative;
        max-width: 350px;
        margin-bottom: -245px;
        overflow: hidden; }
        @media (max-width: 900px) {
          .banners-section > .container > .banners-container > .banner {
            margin: 20px 0;
            max-width: 300px; } }
        .banners-section > .container > .banners-container > .banner > .banner-img {
          position: relative;
          overflow: hidden;
          height: 525px; }
          .banners-section > .container > .banners-container > .banner > .banner-img > img {
            position: relative;
            width: auto;
            height: 100%;
            transition: .3s all ease-in-out; }
        .banners-section > .container > .banners-container > .banner:hover > .banner-img > img {
          transform: scale(1.1); }
        .banners-section > .container > .banners-container > .banner > .infobanner {
          position: relative;
          padding: 15px 10px;
          background-color: #4CC9F0; }
          .banners-section > .container > .banners-container > .banner > .infobanner > h5 {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
            color: #000; }
          .banners-section > .container > .banners-container > .banner > .infobanner > p {
            text-align: center;
            font-size: 16px;
            color: #000; }
      .banners-section > .container > .banners-container > .double {
        margin: 50px 0 -400px 20px; }
        @media (max-width: 900px) {
          .banners-section > .container > .banners-container > .double {
            margin: 0 0 20px 0; } }
        .banners-section > .container > .banners-container > .double > .banner {
          display: block;
          position: relative;
          max-width: 350px;
          background-color: #4CC9F0;
          margin-bottom: 20px; }
          @media (max-width: 900px) {
            .banners-section > .container > .banners-container > .double > .banner {
              max-width: 300px; } }
          .banners-section > .container > .banners-container > .double > .banner > .banner-img {
            position: relative;
            overflow: hidden;
            height: 233px; }
            .banners-section > .container > .banners-container > .double > .banner > .banner-img > img {
              position: relative;
              width: auto;
              height: 100%;
              transition: .3s all ease-in-out; }
          .banners-section > .container > .banners-container > .double > .banner:last-child {
            margin-bottom: 0; }
            .banners-section > .container > .banners-container > .double > .banner:last-child > .banner-img {
              position: relative;
              overflow: hidden;
              height: 467px; }
          .banners-section > .container > .banners-container > .double > .banner:hover > .banner-img > img {
            transform: scale(1.1); }
          .banners-section > .container > .banners-container > .double > .banner > .infobanner {
            position: relative;
            padding: 15px 10px; }
            .banners-section > .container > .banners-container > .double > .banner > .infobanner > h5 {
              text-align: center;
              font-weight: bold;
              font-size: 16px;
              margin-bottom: 10px;
              color: #000; }
            .banners-section > .container > .banners-container > .double > .banner > .infobanner > p {
              text-align: center;
              font-size: 16px;
              color: #000; }
  .banners-section .bounce {
    animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

.engaging-section {
  position: relative;
  margin-top: 500px; }
  @media (max-width: 1024px) {
    .engaging-section {
      width: 100%; } }
  @media (max-width: 900px) {
    .engaging-section {
      margin-top: 30px;
      background-color: #4361EE; } }
  .engaging-section > .grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background-color: #4361EE; }
    @media (max-width: 900px) {
      .engaging-section > .grid-background {
        width: 100%; } }
  .engaging-section > .container {
    padding-bottom: 50px;
    display: flex;
    align-items: center; }
    @media (max-width: 900px) {
      .engaging-section > .container {
        flex-direction: column; } }
    .engaging-section > .container > .info-cta {
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 50px; }
      @media (max-width: 1024px) {
        .engaging-section > .container > .info-cta {
          margin-right: 30px; } }
      @media (max-width: 900px) {
        .engaging-section > .container > .info-cta {
          flex-direction: column;
          margin-right: 0; } }
      .engaging-section > .container > .info-cta > .image {
        position: relative;
        max-width: 400px; }
        .engaging-section > .container > .info-cta > .image img {
          position: relative;
          width: 100%; }
      .engaging-section > .container > .info-cta > .cta {
        position: relative;
        margin-left: 20px; }
        @media (max-width: 900px) {
          .engaging-section > .container > .info-cta > .cta {
            margin: 20px 0 0 0; } }
        .engaging-section > .container > .info-cta > .cta > span {
          font-size: 16px;
          color: white; }
        .engaging-section > .container > .info-cta > .cta > h2 {
          font-size: 38px;
          font-weight: bolder;
          margin-top: 25px;
          color: white; }
        .engaging-section > .container > .info-cta > .cta > p {
          font-size: 18px;
          max-width: 300px;
          margin-top: 25px;
          color: white; }
        .engaging-section > .container > .info-cta > .cta > a {
          border: none;
          background-color: #7209B7;
          width: 200px;
          height: 35px;
          border-radius: 5px;
          margin-top: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: bold;
          color: white; }
          .engaging-section > .container > .info-cta > .cta > a > span {
            color: white;
            font-size: 18px;
            margin: 2px 0 0 10px;
            font-weight: bold;
            transition: .2s all ease-in-out; }
          .engaging-section > .container > .info-cta > .cta > a:hover > span {
            transform: translateX(55%); }
    .engaging-section > .container > .swiper {
      width: 500px;
      height: 300px;
      margin-left: 60px; }
      @media (max-width: 1024px) {
        .engaging-section > .container > .swiper {
          margin-left: 0px;
          width: 400px;
          margin: 0 auto; } }
      @media (max-width: 900px) {
        .engaging-section > .container > .swiper {
          margin-left: 0;
          width: 300px;
          margin: 0 auto; } }
      .engaging-section > .container > .swiper > .swiper-wrapper {
        width: 100%; }
        .engaging-section > .container > .swiper > .swiper-wrapper > .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 100%; }
          .engaging-section > .container > .swiper > .swiper-wrapper > .swiper-slide > img {
            width: 100%; }
      .engaging-section > .container > .swiper > .swiper-button-prev, .engaging-section > .container > .swiper .swiper-button-next {
        color: #000; }

.social-section {
  position: relative;
  margin-top: 150px;
  padding-bottom: 150px; }
  @media (max-width: 1024px) {
    .social-section {
      margin-top: 150px; } }
  @media (max-width: 900px) {
    .social-section {
      margin-top: 80px; } }
  .social-section > .container > h2 {
    position: relative;
    text-align: center; }
    .social-section > .container > h2 > a {
      font-size: 32px;
      text-align: center;
      color: black; }
  .social-section > .container > .showcase {
    position: relative;
    display: flex;
    justify-content: center; }
    @media (max-width: 900px) {
      .social-section > .container > .showcase {
        flex-direction: column;
        align-items: center; } }
    .social-section > .container > .showcase > .picture {
      position: relative;
      max-width: 300px;
      margin-left: 35px; }
      @media (max-width: 900px) {
        .social-section > .container > .showcase > .picture {
          margin: 20px 0 0 0; } }
      .social-section > .container > .showcase > .picture > img {
        width: 100%; }
      .social-section > .container > .showcase > .picture:first-child {
        margin-left: 0; }
    .social-section > .container > .showcase > .text-box {
      position: relative;
      min-width: 300px;
      width: 300px;
      height: 300px;
      background-color: #4361EE;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      margin-top: 80px; }
      @media (max-width: 900px) {
        .social-section > .container > .showcase > .text-box {
          margin-top: 20px; } }
      .social-section > .container > .showcase > .text-box > p {
        font-size: 18px;
        color: white;
        font-weight: 600; }

footer {
  position: relative;
  background-color: #4CC9F0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  border-top: 2px solid #3b3878; }
  footer > .heading {
    position: relative;
    display: flex;
    max-width: 150px;
    margin: -56px 0 60px 0; }
    footer > .heading::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: #FFF1FA; }
    footer > .heading > img {
      position: relative;
      width: 100%; }
  footer > .container {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      footer > .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center; } }
    @media (max-width: 900px) {
      footer > .container {
        flex-direction: column;
        align-items: center; } }
    footer > .container > .footer-menu {
      position: relative; }
      @media (max-width: 900px) {
        footer > .container > .footer-menu {
          margin-top: 40px; } }
      footer > .container > .footer-menu > h2 {
        font-size: 24px;
        color: #3b3878;
        margin-bottom: 30px; }
        @media (max-width: 900px) {
          footer > .container > .footer-menu > h2 {
            font-size: 18px;
            text-align: center; } }
      footer > .container > .footer-menu > .submenu {
        position: relative;
        display: flex;
        align-items: center; }
        footer > .container > .footer-menu > .submenu > ul {
          position: relative; }
          footer > .container > .footer-menu > .submenu > ul:last-child {
            margin-left: 60px; }
          footer > .container > .footer-menu > .submenu > ul > li {
            position: relative;
            margin-top: 15px; }
            footer > .container > .footer-menu > .submenu > ul > li:first-child {
              margin-top: 0; }
            footer > .container > .footer-menu > .submenu > ul > li > a {
              font-size: 16px;
              color: #3b3878; }
              @media (max-width: 900px) {
                footer > .container > .footer-menu > .submenu > ul > li > a {
                  font-size: 14px; } }
    footer > .container > .contact {
      position: relative; }
      @media (max-width: 900px) {
        footer > .container > .contact {
          margin-top: 40px; } }
      footer > .container > .contact > h2 {
        font-size: 24px;
        margin-bottom: 30px;
        color: #3b3878; }
        @media (max-width: 900px) {
          footer > .container > .contact > h2 {
            font-size: 18px;
            text-align: center; } }
      footer > .container > .contact > form {
        position: relative; }
        footer > .container > .contact > form > label {
          font-size: 16px;
          color: #3b3878;
          display: block;
          font-family: 'PT Sans', sans-serif; }
          @media (max-width: 900px) {
            footer > .container > .contact > form > label {
              font-size: 14px; } }
        footer > .container > .contact > form > input {
          position: relative;
          width: 350px;
          height: 35px;
          background: transparent;
          border-width: 0 0 1px;
          border-color: #3b3878;
          outline: 0;
          padding-bottom: 20px; }
          footer > .container > .contact > form > input::placeholder {
            color: #3b3878; }
          @media (max-width: 900px) {
            footer > .container > .contact > form > input {
              width: 200px; } }
          footer > .container > .contact > form > input:last-child {
            position: relative;
            width: auto;
            border: 0;
            text-transform: uppercase;
            color: #3b3878;
            margin: -20px 0 0 -70px; }
    footer > .container > .social {
      position: relative; }
      @media (max-width: 900px) {
        footer > .container > .social {
          margin-top: 40px; } }
      footer > .container > .social > h2 {
        font-size: 24px;
        margin-bottom: 30px;
        color: #3b3878; }
        @media (max-width: 900px) {
          footer > .container > .social > h2 {
            margin-bottom: 20px;
            font-size: 18px; } }
      footer > .container > .social > .insta {
        position: relative;
        display: flex;
        align-items: center; }
        @media (max-width: 900px) {
          footer > .container > .social > .insta {
            justify-content: center; } }
        footer > .container > .social > .insta > a {
          font-size: 16px;
          color: #3b3878; }
          @media (max-width: 900px) {
            footer > .container > .social > .insta > a {
              font-size: 14px; } }
      footer > .container > .social > .facebook {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px; }
        @media (max-width: 900px) {
          footer > .container > .social > .facebook {
            justify-content: center; } }
        footer > .container > .social > .facebook > a {
          font-size: 16px;
          color: #3b3878; }
          @media (max-width: 900px) {
            footer > .container > .social > .facebook > a {
              font-size: 14px; } }
  footer .company-info {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    footer .company-info > span {
      font-size: 16px;
      color: #3b3878;
      text-align: center; }
      @media (max-width: 900px) {
        footer .company-info > span {
          font-size: 12px; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }
  .modal.active-modal {
    display: flex; }
  .modal > .modal-search {
    position: relative; }
    .modal > .modal-search > form {
      position: relative; }
      .modal > .modal-search > form > input {
        position: relative;
        outline: 0;
        border-width: 0 0 1px;
        border-color: #fff;
        width: 350px;
        background: transparent;
        font-size: 38px;
        color: #fff; }
        @media (max-width: 900px) {
          .modal > .modal-search > form > input {
            width: 200px; } }
        .modal > .modal-search > form > input::placeholder {
          color: #8b8888; }
      .modal > .modal-search > form > button {
        position: relative;
        border: 0;
        width: auto;
        text-transform: uppercase;
        outline: 0;
        background: transparent;
        cursor: pointer; }
        .modal > .modal-search > form > button > i {
          color: #fff;
          font-size: 38px; }
